.card {
  --panel-width: 760px;
  border-radius: 32px;
  padding: 64px;
  background: #ffffff;
  min-width: calc(var(--panel-width) + 64px * 2);
}

.title {
  padding-left: calc(240px + 64px);
  font-weight: 600;
  font-size: 28px;
  line-height: 42px;
  position: relative;
  min-height: 160px;
  max-width: var(--panel-width);
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  word-break: normal;

  &:before {
    position: absolute;
    content: '';
    width: 240px;
    height: 160px;
    background: var(--image-url);
    background-size: contain;
    left: 0;
    top: 0;
  }
}

.content {
  max-width: var(--panel-width);
}
