.card {
  padding: 32px;
  border-radius: 32px;
  background: #ffffff;
  flex: 1;
}

.title {
  font-weight: 600;
  font-size: 18px;
  color: var(--primary-color);
  padding-bottom: 32px;

  .divider {
    margin: 0;
  }
}

.title-content {
  padding-bottom: 32px;
  white-space: pre-wrap;
}

.divider {
  margin: 20px 0;
}

.block-title {
  font-weight: 600;
  font-size: 16px;
}

.block-content {
  color: var(--font-color-grey);
}

@media (max-width: 768px) {
  .card {
    border-radius: 8px;
    padding: 12px;
  }

  .title-content {
    padding-bottom: 12px;
  }
}
