.card {
  padding: 32px;
  border-radius: 32px;
  background: #ffffff;
  width: 360px;
  box-sizing: border-box;
}

.image-item {
  width: 296px;
  height: 198px;
  overflow: hidden;
  border-radius: 20px;
}

.company-name {
  font-weight: 600;
  font-size: 16px;
}
