.main {
  display: flex;
  flex: 1;
}

.main-left {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.footer-btn {
  display: none;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column-reverse;
  }
  .footer-btn {
    display: block;
  }
}
