.card {
  border-radius: 32px;
  padding: 64px;
  background: #ffffff;
}

.tips {
  font-weight: 600;
  font-size: 16px;
}

.form-inner {
  background: #fcfbfc;
  padding: 32px;
  border-radius: 20px;
  width: 760px;

  :global {
    .ant-card {
      background: transparent;
    }

    .ant-tabs-nav:before {
      border: none;
    }
  }
}

.code-btn {
  margin-top: 28px;
  min-width: 204px;
}

@media (max-width: 768px) {
  .card {
    border-radius: 8px;
    padding: 12px;
  }

  .form-inner {
    width: auto;
    padding: 12px;
    border-radius: 8px;
  }

  .code-btn {
    min-width: 70px;
  }

  .gap-container {
    gap: 8px !important;
  }
}
